[Unit]
Description=xvfb
Wants=network.target
Before=network.target

[Service]
Type=simple
WorkingDirectory=/home/jon/sndflo
User=jon
ExecStart=/usr/bin/Xvfb :99 -screen 0 640x480x8 -nolisten tcp

[Install]
WantedBy=multi-user.target
